<div class="header navbar">
    <div class="header-container">
        <ul class="nav-left">
            <li>
                <a id='sidebar-toggle' class="sidebar-toggle" href="javascript:void(0);">
                    <i class="fa-solid fa-bars"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- Script for hamburger mobile menu -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    // ٍSidebar Toggle
(function () {
  $('.sidebar-toggle').on('click', function (e) {
    $('.app').toggleClass('is-collapsed');
    e.preventDefault();
  });
  /**
   * Wait until sidebar fully toggled (animated in/out)
   * then trigger window resize event in order to recalculate
   * masonry layout widths and gutters.
   */

  $('#sidebar-toggle').click(function (e) {
    e.preventDefault();
    setTimeout(function () {
      window.dispatchEvent(window.EVENT);
    }, 300);
  });
})();
</script>
<!-- End script for hamburger mobile menu -->