
      <div class="sidebar">
        <div class="sidebar-inner">
          <!-- ### $Sidebar Header ### -->
          <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
              <div class="peer peer-greed">
                <a class="sidebar-link td-n" href="/index.html">
                  <div class="peers ai-c fxw-nw">
                    <div class="peer">
                      <div class="logo">
                        <img src="{{ config.ASSETS_ROOT }}/img/brand/IconHuesAI.svg" alt="">
                      </div>
                    </div>
<!--                    <div class="peer peer-greed">-->
<!--                      <h5 class="lh-1 mB-0 logo-text">Good Hues</h5>-->
<!--                    </div>-->
                  </div>
                </a>
              </div>
              <div class="peer">
                <div class="mobile-toggle sidebar-toggle">
                  <a href="" class="td-n">
                    <i class="fa-solid fa-angles-left"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- ### $Sidebar Menu ### -->
        </li>
          <ul class="sidebar-menu scrollable pos-r">
            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="/studio">
                <span class="icon-holder">
<!--                  <i class="fa-solid fa-object-group"></i>-->
                  <i class="fa-solid fa-s"></i>
                </span>
                <span class="title">Studio</span>
              </a>
            </li>
            <li class="nav-item">
              <a class='sidebar-link' href="/gallery">
                <span class="icon-holder">
                  <i class="fa-regular fa-images"></i>
                </span>
                <span class="title">Gallery</span>
              </a>
            </li>
            <li class="nav-item">
              <a class='sidebar-link' href="">
                <span class="icon-holder">
                  <i class="fa-regular fa-bookmark"></i>
                </span>
                <span class="title">Bookmarks</span>
              </a>
            </li>
            <li class="nav-item">
              <a class='sidebar-link' href="">
                <span class="icon-holder">
                  <i class="fa-solid fa-users"></i>
                </span>
                <span class="title">Community</span>
              </a>
            </li>
            <li class="nav-item">
              <a class='sidebar-link' href="">
                <span class="icon-holder">
                  <i class="fa-regular fa-circle-question"></i>
                </span>
                <span class="title">FAQ</span>
              </a>
            </li>
          </ul>

        </div>
      </div>
