{% extends "layouts/base.html" %}

{{ modals() }}

{% block title %} Studio {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main>

<!--            {% include 'includes/preloader.html' %}-->

    <!-- Hero -->
    <section class="section-header bg-secondary mb-5">
        <div class="container-fluid pb-5">
            <div class="row justify-content-between d-flex align-items-start">
                <div class="col-12 col-md-5 col-lg-4 text-center text-md-left sticky-md-top">
                    <div class="card card-param bg-white p-2 p-md-3 p-lg-4 mb-3">
                        <div class="card-header bg-white border-0 text-center">
                            <h3>Get inspired!</h3>
                            <p>Select the preferences for your project:</p>
                        </div>
                        <div class="card-body pt-0">
                            <form class="needs-validation" enctype="multipart/form-data"
                                  action="{{ url_for('studio_blueprint.generate_image', variation_image='none', var=0, bookmark=0) }}" method="POST" novalidate>
                                <!-- Form -->
                                <div class="mb-4 input-group">
                                    <div class="custom-file">
                                    <label class="custom-file-label" for="baseimage">Select base image:</label>
                                    <input type="file" class="custom-file-input form-control" id="baseimage" name="inimage" aria-describedby="inputGroupFileAddon01" required>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                                               name="scratch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Or start from
                                            scratch</label>
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <!-- Form -->
                                <div class="mb-4">
                                    <select class="form-select form-select-sm" name="style" aria-label="Style select"
                                            required>
                                        <option selected disabled value="">Choose style...</option>
                                        {% for style in styles: %}
                                        <option value="{{ style[0] }}">{{ style[1] }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select a style.
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <!-- Form -->
                                <div class="mb-4">
                                    <select class="form-select form-select-sm" name="color_mood"
                                            aria-label="Color feel select" required>
                                        <option selected disabled value="">Choose color mood...</option>
                                        {% for mood in moods: %}
                                        <option value="{{ mood[0] }}">{{ mood[1] }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select a color mood.
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <!-- Form -->
                                <div class="mb-4">
                                    <select class="form-select form-select-sm" name="room"
                                            aria-label="Type of room select" required>
                                        <option selected disabled value="">Choose type of room...</option>
                                        {% for room in rooms: %}
                                        <option value="{{ room[0] }}">{{ room[1] }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select a type of room.
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <!-- Form -->
                                <div class="mb-4 row">
                                    <label for="samplesRange" class="form-label">Number of samples</label>
                                    <div class="col-sm-9">
                                        <input type="range" class="form-range" name="amountRange" min="1" max="4"
                                               value="1" step="1" id="samplesRange"
                                               oninput="this.form.amountInput.value=this.value">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control form-control-sm" value="1"
                                               name="amountInput" disabled readonly>
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <!-- Form -->
                                <div class="mb-4">
                                    <select class="form-select form-select-sm" id="aspectRatio" name="ratio"
                                            aria-label="Aspect ratio of the image" disabled required>
                                        <option selected disabled value="">Choose image aspect ratio...</option>
                                        <option value="1" >4:3</option>
                                        <option value="2" >3:4</option>
                                        <option value="3" >1:1</option>
<!--                                        <option value="4" >16:9</option>-->
<!--                                        <option value="5" >9:16</option>-->
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select aspect ratio.
                                    </div>
                                </div>
                                <!-- End of Form -->
                                    <!-- Script to disable/enable fields when starting from scratch -->
                                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
                                    <script>
                                        <!-- Disables / enables fields when 'start from scratch' option is selected -->
                                        $('#flexSwitchCheckDefault').on('change', function(event, state) {
                                            var status = $('#customRange4').prop('disabled');
                                            var status2 = $('#customRange6').prop('disabled');
                                            var status3 = $('#baseimage').prop('disabled');
                                            var status4 = $('#aspectRatio').prop('disabled');
                                            $('#customRange4').prop('disabled', !status);
                                            $('#customRange6').prop('disabled', !status2);
                                            $('#baseimage').prop('disabled', !status3);
                                            $('#aspectRatio').prop('disabled', !status4);
                                        });

                                    </script>

                                <div class="d-grid">
                                    <button type="submit" class="btn btn-secondary">Create</button>
                                </div>
                            </form>
                            <!-- Spinner -->
                            <script>
                                function spinner() {
                                    document.getElementsByClassName("loader")[0].style.display = "block";
                                }
                            </script>
                            <!-- End Spinner -->
                             <!-- Scroller -->
                            <script>
                            $(document).ready(function() {
                                $('#studio-results').animate({
                                    scrollTop: $('#studio-results').get(0).scrollHeight
                                }, 1500);
                            });
                            </script>
                            <!-- End Scroller -->
                            <!-- Form validation -->
                            <script>
                                    (function () {
                                        'use strict'

                                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                        var forms = document.querySelectorAll('.needs-validation')

                                        // Loop over them and prevent submission
                                        Array.prototype.slice.call(forms)
                                        .forEach(function (form) {
                                        form.addEventListener('submit', function (event) {
                                        if (!form.checkValidity()) {
                                            event.preventDefault()
                                            event.stopPropagation()
                                        }
                                            form.classList.add('was-validated')
                                            if (form.checkValidity()) {
                                            spinner()
                                            }
                                        }, false)

                                    })

                            })()
                            </script>
                            <!-- End of form validation -->
                        </div>
                    </div>
                    <!--                        <h1 class="display-2 mb-4">Full-Service <br class="d-none d-md-inline">Digital Agency</h1>-->
                    <!--                        <p class="lead mb-4 text-muted">Themesberg can help you build a modern website, a creative logo or PWA, that will bring you customers and and stay on top of your competition.</p>-->
                    <!--                        <a href="./services.html" class="btn btn-tertiary me-3 animate-up-2">What we do <span class="ms-2"><span class="fas fa-arrow-right"></span></span></a>-->
                </div>
<!-- Form section ends here -->

<!-- Results section starts here -->
                <div class="col-12 col-md-7 col-lg-8 text-center studio-col" id="studio-results">
                    {% for session in showed_images: %}
                    <div class="card border-0 p-3 p-md-3 p-lg-4 mb-3">
                        <div class="row pb-4 text-left">
                            <div class="col-1 ps-1">
                            <h1 class="id-circle">{{ initial }}</h1>
                            </div>
                            <div class="col-11">
                            <span class="description details-text pe-1">{{ details[session] }}</span>
                            </div>
                        </div>
<!--                        <div class="row">-->
<!--                            <p>Your results: <span class="fas fa-info-circle" data-bs-container="body"-->
<!--                            data-bs-toggle="popover" data-bs-placement="right" title="Your preferences."-->
<!--                            data-bs-content="{{ details }}"></span></p>-->
<!--                        </div>-->
<!--                        <div class="border-top px-4 py-5" id="thumbnails-top-border">-->
<!--                        This row makes the card horizontally scrollable <div class="row gy-3 mb-1 pb-0 d-flex flex-row flex-nowrap scroll-thumbs"></div>-->
                        <div class="row">
                            {% if showed_images[session]|length == 2: %}
                            {% for image in showed_images[session]: %}
                            <div class="col-lg-6 col-md-6 col-sm-6 pb-0">
                                <div class="card border-0 overflow-hidden">
                                    <div class="position-relative">
                                        <img class="card-img-top card-img-bottom thumb" data-bs-toggle="modal"
                                             data-bs-target="#myModal"
                                             src="{{ url_for('static',filename=image[1]) }}" id="{{ image[0] ~ 'img' }}">
                                    </div>
                                    <a class="btn-opt btn-sm image-options" data-bs-container="body"
                                        data-bs-toggle="popover" data-bs-placement="left"
                                        data-bs-html="true" id="{{ image[0] ~ 'i' }}"><i class="fa-solid fa-ellipsis"></i></a>
                                    {% if image[2]: %}
                                    <a href="{{ url_for('studio_blueprint.generate_image', bookmark=1, image_id=image[0]) }}"
                                       class="btn-floating"><i class="fa-solid fa-bookmark"></i></a>
                                    {% else %}
                                    <a href="{{ url_for('studio_blueprint.generate_image', bookmark=1, image_id=image[0]) }}"
                                       class="btn-floating"><i class="fa-regular fa-bookmark"></i></a>
                                    {% endif %}
                                </div>
                                <div class="pb-0">
                                    <form class="needs-validation"
                                          action="{{ url_for('studio_blueprint.generate_image', variation_image_id=image[0], var=1, bookmark=0) }}"
                                          method="POST" novalidate>
                                        <button type="submit" class="link-button">Variation</button>
                                    </form>
                                </div>
                            </div>
                            {% endfor %}
                            {% elif showed_images[session]|length == 3: %}
                            {% for image in showed_images[session]: %}
                            <div class="col-lg-4 col-md-4 col-sm-6 pb-0">
                                <div class="card border-0 overflow-hidden">
                                    <div class="position-relative">
                                        <img class="card-img-top card-img-bottom thumb" data-bs-toggle="modal"
                                             data-bs-target="#myModal"
                                             src="{{ url_for('static',filename=image[1]) }}" id="{{ image[0] ~ 'img' }}">
                                    </div>
                                    <a class="btn-opt btn-sm image-options" data-bs-container="body"
                                        data-bs-toggle="popover" data-bs-placement="left"
                                        data-bs-html="true" id="{{ image[0] ~ 'i' }}"><i class="fa-solid fa-ellipsis"></i></a>
                                    {% if image[2]: %}
                                    <a href="{{ url_for('studio_blueprint.generate_image', bookmark=1, image_id=image[0]) }}"
                                       class="btn-floating"><i class="fa-solid fa-bookmark"></i></a>
                                    {% else %}
                                    <a href="{{ url_for('studio_blueprint.generate_image', bookmark=1, image_id=image[0]) }}"
                                       class="btn-floating"><i class="fa-regular fa-bookmark"></i></a>
                                    {% endif %}
                                </div>
                                <div class="pb-0">
                                    <form class="needs-validation"
                                          action="{{ url_for('studio_blueprint.generate_image', variation_image_id=image[0], var=1, bookmark=0) }}"
                                          method="POST" novalidate>
                                        <button type="submit" class="link-button">Variation</button>
                                    </form>
                                </div>
                            </div>
                            {% endfor %}
                            {% elif showed_images[session]|length > 3: %}
                            {% for image in showed_images[session]: %}
                            <div class="col-lg-3 col-md-4 col-sm-6 pb-0">
                                <div class="card border-0 overflow-hidden">
                                    <div class="position-relative">
                                        <img class="card-img-top card-img-bottom thumb" data-bs-toggle="modal"
                                             data-bs-target="#myModal"
                                             src="{{ url_for('static',filename=image[1]) }}" id="{{ image[0] ~ 'img' }}">
                                    </div>
                                    <a class="btn-opt btn-sm image-options" data-bs-container="body"
                                        data-bs-toggle="popover" data-bs-placement="left"
                                        data-bs-html="true" id="{{ image[0] ~ 'i' }}"><i class="fa-solid fa-ellipsis"></i></a>
                                    {% if image[2]: %}
                                    <a href="{{ url_for('studio_blueprint.generate_image', bookmark=1, image_id=image[0]) }}"
                                       class="btn-floating"><i class="fa-solid fa-bookmark"></i></a>
                                    {% else %}
                                    <a href="{{ url_for('studio_blueprint.generate_image', bookmark=1, image_id=image[0]) }}"
                                       class="btn-floating"><i class="fa-regular fa-bookmark"></i></a>
                                    {% endif %}
                                </div>
                                <div class="pb-0">
                                    <form class="needs-validation"
                                          action="{{ url_for('studio_blueprint.generate_image', variation_image_id=image[0], var=1, bookmark=0) }}"
                                          method="POST" novalidate>
                                        <button type="submit" class="link-button">Variation</button>
                                    </form>
                                </div>
                            </div>
                            {% endfor %}
                            {% else: %}
                            {% for image in showed_images[session]: %}
                            <div class="col-lg-8 pb-0">
                                <div class="card border-0 overflow-hidden">
                                    <div class="position-relative">
                                        <img class="card-img-top card-img-bottom thumb" data-bs-toggle="modal"
                                             data-bs-target="#myModal"
                                             src="{{ url_for('static',filename=image[1]) }}" id="{{ image[0] ~ 'img' }}">
                                    </div>
                                    <a class="btn-opt btn-sm image-options" data-bs-container="body"
                                        data-bs-toggle="popover" data-bs-placement="left"
                                        data-bs-html="true" id="{{ image[0] ~ 'i' }}"><i class="fa-solid fa-ellipsis"></i></a>
                                    {% if image[2]: %}
                                    <a href="{{ url_for('studio_blueprint.generate_image', bookmark=1, image_id=image[0]) }}"
                                       class="btn-floating"><i class="fa-solid fa-bookmark"></i></a>
                                    {% else %}
                                    <a href="{{ url_for('studio_blueprint.generate_image', bookmark=1, image_id=image[0]) }}"
                                       class="btn-floating"><i class="fa-regular fa-bookmark"></i></a>
                                    {% endif %}
                                </div>
                                <div class="var-btn">
                                    <form class="needs-validation"
                                          action="{{ url_for('studio_blueprint.generate_image', variation_image_id=image[0], var=1, bookmark=0) }}"
                                          method="POST" novalidate>
                                        <button type="submit" class="link-button">Variation</button>
                                    </form>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
<!--                        </div>-->
                    </div>
                    {% endfor %}
                    <div class="loader">
                        <div class="loading">
                        </div>
                    </div>
                </div>
                <script type='text/javascript'>

                function check()
                {
                    return false;
                }

                </script>
                <!-- Popover script -->
                <script>
                    $(document).ready(function(){
                        $('.image-options').each(function() {
                            var icon_id = $(this).attr('id');
                            a_tag_id = icon_id + "a"
                            icon_id = "#" + icon_id;
                            img_id = icon_id + "mg";
                            the_url = $(img_id).attr('src');

                            var popString2 = "";
                            popString2 = popString2 + "<a href='" + the_url + "' download id='" + a_tag_id + "' class='options'>Save image <span class='icon-pop'><i class='fa-regular fa-floppy-disk'></i></span></a>";
                            $(icon_id).attr('data-bs-content', popString2);

                            var popString1 = "";
                            popString1 = popString1 + "<a href='' class='options'>Add to collection <span class='icon-pop'><i class='fa-solid fa-plus'></i></span></a>";
                            $(icon_id).attr('data-bs-title', popString1);
                        });
                        $('[data-bs-toggle="popover"]').popover('hide');
                    });

                      $('body').on('click', function (e) {
                        $('[data-bs-toggle="popover"]').each(function () {
                             $popover = $(this);
                             if (!$popover.is(e.target) &&
                                    $popover.has(e.target).length === 0 &&
                                    $('.popover').has(e.target).length === 0)
                                {
                                    $popover.popover('hide');
                                }
                            //do nothing if there was a click on popover content
                            if ($target.hasClass('popover') || $target.closest('.popover').length) {
                                return;
                                }
                        });
                    });

                    function download(url) {
                      const a = document.createElement('a')
                      a.href = url
                      a.download = url.split('/').pop()
                      document.body.appendChild(a)
                      a.click()
                      document.body.removeChild(a)
                    }
                    </script>
                <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
                <!-- End Popover script -->

                <!-- Modal script -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script>
                    // Get the modal
                    var modal = $("#myModal");
                    var modalImg = modal.find('.img-responsive');

                    // Get the image and insert it inside the modal
                    var img = $(".thumb");

                    img.click(function() {
                        modalImg.attr('src', $(this).attr('src'));
                        modal.addEventListener('shown.bs.modal', function () {
                          img.focus()
                        });
                    });

                    // Get the elements that closes the modal
                    var modalCloser = $(".close");

                    // When the user clicks on the close element, close the modal
                    modalCloser.click(function() {
                        modal.hide();
                    });
                </script>
                <!-- End Modal script -->
                <!-- Results section ends here -->
            </div>
        </div>
    </section>
    <!-- End of Hero section -->

</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
